* {
  box-sizing: border-box;
}

.a1192WDefault {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ffffff;
  background: var(--color-white-solid, #ffffff);
  padding-bottom: 1px;
  width: 1190px;
  height: 1773px;
  overflow-y: auto;

  .autoWrapper2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 86px;
    padding-left: 170px;

    .container2 {
      display: flex;
      align-items: center;
      padding-bottom: 1px;
      width: 552px;

      .link {
        display: inline-flex;
        flex-shrink: 0;
        align-items: flex-start;
        padding-right: 28px;
        padding-left: 12px;

        .logo {
          position: relative;
          flex-shrink: 0;
          width: 91px;
          height: 31px;
          overflow: hidden;
          background-image: url(../image/mjtlr7o8-mdm6ewf.png);
          background-position: 0px 0px;
          background-size: 100% 100%;
          background-repeat: no-repeat;

          .rectangle5 {
            position: absolute;
            top: -1px;
            left: 25px;
            background: #ffffff;
            width: 65px;
            height: 23px;
          }

          .text {
            position: absolute;
            top: -10px;
            left: 30px;
            width: 37px;
            height: 44px;
            line-height: 43px;
            letter-spacing: 1.24px;
            color: #000000;
            font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: 700;
          }
        }
      }

      .container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        margin-left: -1px;
        padding-right: 49px;
        padding-left: 74px;
        width: 394px;
        min-width: 394px;
        height: 44px;

        .text2 {
          padding: 0px 0px 1px;
          line-height: 43px;
          letter-spacing: 1.24px;
          color: var(--www-10000da-cn-Black, #000000);
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 11px;
        }

        .horizontalBorder {
          display: flex;
          align-items: center;
          padding: 0px 13px 1px 12px;
          height: 43px;

          .link2 {
            display: inline-flex;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: center;
            box-shadow: 0px 4px 4px 0px #00000040;

            .text3 {
              flex-shrink: 0;
              line-height: 43px;
              letter-spacing: 1.24px;
              color: var(--www-10000da-cn-Mine-Shaft, #333333);
              font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;
            }
          }
        }

        .text4 {
          padding: 0px 12px 1px;
          line-height: 43px;
          letter-spacing: 1.24px;
          color: var(--www-10000da-cn-Black, #000000);
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 11px;
        }

        .autoWrapper {
          position: relative;
          width: 74px;
          height: 44px;

          .text5 {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0px 12px 1px;
            width: 74px;
            height: 44px;
            line-height: 43px;
            letter-spacing: 1.24px;
            color: var(--www-10000da-cn-Black, #000000);
            font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 11px;
          }

          .text6 {
            position: absolute;
            top: 0;
            right: -49px;
            padding: 0px 0px 1px;
            width: 49px;
            height: 44px;
            line-height: 43px;
            letter-spacing: 1.24px;
            color: var(--www-10000da-cn-Alizarin-Crimson, #e61c1d);
            font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 11px;
          }
        }
      }
    }

    .text7 {
      margin: 3px 0px 0px 201px;
      line-height: 43px;
      letter-spacing: 1.24px;
      color: var(--www-10000da-cn-Black, #000000);
      font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 11px;
    }

    .text8 {
      margin: 3px 0px 0px 55px;
      line-height: 43px;
      letter-spacing: 1.24px;
      color: #000000;
      font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 11px;
    }
  }

  .autoWrapper5 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 38px;
    padding-right: 30px;
    padding-left: -2px;

    .autoWrapper3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-left: -1px;

      .a1242X268811 {
        width: 318px;
        height: 689px;
      }

      .a1242X268812 {
        margin-top: 2px;
        width: 318px;
        height: 689px;
      }
    }

    .autoWrapper4 {
      position: relative;
      margin-top: 2px;
      margin-left: 1px;
      width: 318px;
      height: 689px;

      .a1242X268821 {
        position: absolute;
        top: 0;
        left: 0;
        width: 318px;
        height: 689px;
      }

      .a1242X268831 {
        position: absolute;
        top: -1px;
        right: -314px;
        width: 318px;
        height: 689px;
      }
    }

    .group19 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 132px;
      margin-left: 346px;

      .text9 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0px 2px;
        width: 175px;
        height: 88px;
        line-height: 43px;
        letter-spacing: 1.24px;
        color: #000000;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
        text-shadow: 0px 4px 4px #00000040;
      }

      .text10 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 236px 0px 0px 1px;
        width: 175px;
        height: 88px;
        line-height: 43px;
        letter-spacing: 1.24px;
        color: #000000;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
        text-shadow: 0px 4px 4px #00000040;
      }

      .text11 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 303px 0px 0px 1px;
        width: 175px;
        height: 88px;
        line-height: 43px;
        letter-spacing: 1.24px;
        color: #000000;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
        text-shadow: 0px 4px 4px #00000040;
      }

      .text12 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 266px 0px 0px;
        width: 175px;
        height: 88px;
        line-height: 43px;
        letter-spacing: 1.24px;
        color: #000000;
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
        text-shadow: 0px 4px 4px #00000040;
      }
    }
  }

  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 2px -2px 0px -1px;
    background: var(--color-grey-15, #24262b);
    padding-bottom: 17px;

    .container14 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      padding-top: 43px;
      width: 807px;

      .text14 {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 14px;
        letter-spacing: 1.24px;
        color: var(--www-10000da-cn-Iron, #d2d3d4);
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 9px;
      }

      .text13 {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 14px;
        letter-spacing: 1.24px;
        color: var(--www-10000da-cn-Punch, #dd3f3a);
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 700;
      }

      .container3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-top: 2px;
        padding-bottom: 9px;
        height: 189px;
        row-gap: 11px;
      }

      .container4 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-top: 2px;
        padding-bottom: 9px;
        row-gap: 11px;
      }

      .container5 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-top: 2px;
        padding-bottom: 9px;
        row-gap: 11px;

        .list {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 9px;
        }
      }

      .container13 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-right: 19px;
        padding-left: 19px;

        .a4000158686 {
          flex-shrink: 0;
          max-height: 10px;
          line-height: 10px;
          letter-spacing: 1.24px;
          color: var(--www-10000da-cn-White, #ffffff);
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
        }

        .text16 {
          flex-shrink: 0;
          line-height: 10px;
          letter-spacing: 1.24px;
          color: var(--www-10000da-cn-Dusty-Gray, #999999);
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
        }

        .container6 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-bottom: 18px;

          .a1978803655057555456 {
            position: relative;
            flex-shrink: 0;
            width: 91px;
            height: 31px;
            overflow: hidden;
            background-image: url(../image/mjtlr7o8-o74wp35.png);
            background-position: 0px 0px;
            background-size: 100.01% 100%;
            background-repeat: no-repeat;

            .rectangle6 {
              position: absolute;
              top: 1px;
              left: 26px;
              background: #24262b;
              width: 65px;
              height: 23px;
            }

            .text15 {
              position: absolute;
              top: -11px;
              left: 30px;
              width: 37px;
              height: 44px;
              line-height: 43px;
              letter-spacing: 1.24px;
              color: #ffffff;
              font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;
              font-weight: 700;
            }
          }
        }

        .container7 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-top: -1px;
          padding-bottom: 1px;
        }

        .container8 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-top: -1px;
          padding-top: 12px;
          padding-bottom: 1px;
        }

        .container12 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 19px;
          margin-top: -1px;
          padding-top: 21px;

          .text19 {
            margin: 6px 0px 0px;
            width: 69px;
            line-height: 7px;
            letter-spacing: 1.24px;
            color: var(--www-10000da-cn-Dusty-Gray, #999999);
            font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 8px;
          }

          .text18 {
            margin: 6px 0px 0px;
            width: 69px;
            text-align: center;
            line-height: 7px;
            letter-spacing: 1.24px;
            color: var(--www-10000da-cn-Dusty-Gray, #999999);
            font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 8px;
          }

          .logoAppDriver80Cc307 {
            position: absolute;
            top: 27px;
            left: 25px;
            width: 15px;
            height: 15px;
            overflow: hidden;
          }

          .container9 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 6px;

            .erweimaCae1D404Jpg {
              flex-shrink: 0;
              width: 66px;
              height: 66px;
              overflow: hidden;
            }

            .text17 {
              flex-shrink: 0;
              align-self: stretch;
              text-align: center;
              line-height: 7px;
              letter-spacing: 1.24px;
              color: var(--www-10000da-cn-Dusty-Gray, #999999);
              font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 8px;
            }
          }

          .container10 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;

            .image {
              position: relative;
              width: 66px;
              height: 66px;
              overflow: hidden;
              background-image: url(../image/mjtlr7o8-epf80yy.png);
              background-position: 0px 0px;
              background-size: 99.98% 100%;
              background-repeat: no-repeat;
            }
          }

          .container11 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;

            .image2 {
              position: relative;
              width: 66px;
              height: 66px;
              overflow: hidden;
              background-image: url(../image/mjtlr7o8-znsb8pg.png);
              background-position: 0px 0px;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    .container16 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      margin-top: -1px;
      padding-top: 12px;
      padding-bottom: 1px;

      .container15 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;

        .text20 {
          flex-shrink: 0;
          line-height: 19px;
          letter-spacing: 1.24px;
          color: var(--www-10000da-cn-Alto, #cecece);
          font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 7px;
        }
      }

      .text21 {
        flex-shrink: 0;
        margin: -1px 0px 0px;
        padding: 0px 463px;
        line-height: 19px;
        letter-spacing: 1.24px;
        color: var(--www-10000da-cn-Alto, #cecece);
        font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 7px;
      }
    }
  }
}
